.item-add-form button{
    padding: 3px 10px;
    margin-top: 10px;
    border-radius: 7px;
    border: 3px solid #17A2B8;
    font-weight: bolder;
    color: #17A2B8;
    transition: All 0.5s;
}

.item-add-form button:hover{
    background-color: #17A2B8;
    color: greenyellow;
}

.form-control{
    margin-top: 10px;
    margin-left: 10px;
}

.inp{
    order: 1;
}
