.app-header{
    align-items: flex-end;
    color: white;
    font-style: oblique;
    letter-spacing: 2px;
}
.app-header h1{
    flex-grow: 1;
}
.app-header h2{
    font-size: 1rem;
    color: white;
  }